@import "tailwindcss";

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@keyframes eq {
  0% { transform: scaleY(0.2); }
  100% { transform: scaleY(1); }
}

.animate-eq {
  animation: eq 0.8s ease-in-out infinite alternate;
  will-change: transform;
  transform-origin: bottom;
}
.animate-eq-fast {
  animation: eq 0.5s ease-in-out infinite alternate;
  will-change: transform;
  transform-origin: bottom;
}
.animate-eq-slow {
  animation: eq 1.2s ease-in-out infinite alternate;
  will-change: transform;
  transform-origin: bottom;
}
